<%= link_to "Back to users", users_path %>

<div>
  <% @public_recipes.each do |recipe| %>
    <%= render recipe %>
    <%= link_to "Open Recipe", user_recipe_path(recipe.user, recipe) %>
    <br><br>
  <% end %>
</div>
