<div>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Apple</td>
      <td>5</td>
      <td>2$</td>
      <td>edit/destroy food</td>
    </tr>
  </table>
</div>
