<p style="color: green"><%= notice %></p>

<%= link_to "Public Recipes", public_recipes_path %>

<h1>Users</h1>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>
