<section id="users-index-container">
  <div>
    <div id="users">
      <h1>Users</h1>
      <div id="users-scroll">
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
      </div>
      <%= link_to "Public Recipes", public_recipes_path %>
    </div>
  </div>
</section>

