<h1>Edit Food</h1>

<% if can? :manage, @food %>
  <%= render "form", user: @food %>
<% else %>
  What are you doing here? This is not your food :)
<% end %>

<div>
  <%= link_to "Back to Foods", user_foods_path %>
</div>
