<h1>Foods</h1>

<% if can? :manage, @user.foods.first %>
  <%= link_to "Add Food", new_user_food_path, class: 'button-1' %>
<% end %>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <% if can? :manage, food %>
      <%= link_to "Open Food", user_food_path(@user, food), class: 'button-2' %>
    <% end %>
  <% end %>
</div>

<%= link_to "Back to User", user_path(@user), class: 'button-2' %>

