* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--color-5);
}

:root {
  /* colors */
  --color-5: #0e2c23;
  --color-3: #F28705;
  --color-1: #D96704;
  --color-2: #c25730;
  --color-4: #b98034;

  /* colors */
  --box-shadow-1: 3px 3px 10px rgba(0, 0, 0, 0.4);
  --box-shadow-2: 5px 5px 15px rgba(0, 0, 0, 0.4);
  --box-shadow-3: 10px 10px 25px rgba(0, 0, 0, 0.4);
}


