footer {
  width: 100%;
  height: 69px;
  background-color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 0 10px black;
}

footer p {
  color: var(--color-1);
}

footer a {
  color: var(--color-2);
}
