.container {
  background-image: url('texture.png'), url(main.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 69px);
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 80px;
}
