main {
  background: linear-gradient(var(--color-1), var(--color-4));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 138px);
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.notice,
.alert {
  width: 100%;
  min-height: 0;
  max-height: 20%;
  background-color: #1b7b1b;
  color: white;
  text-align: center;
}

.alert {
  background-color: #b00707;
}

.users-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
