#nav-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  background-color: white;
  border-bottom: 1px solid var(--color-3);
  box-shadow: var(--box-shadow-1);
}

.flex {
  flex: 1;
  padding: 0 15px;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
}

.nav-logo h2 {
  font-size: 36px;
  font-weight: 400;
  color: black;
}

.nav-logo img {
  height: 50px;
  width: auto;
  transform: rotate(-10deg);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  flex-direction: row-reverse;
}

.logged-user {
  color: var(--color-1);
  background-color: var(--color-4);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-1);
  border-radius: 0.25rem;
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  text-align: center;
}

.logged-user strong {
  color: var(--color-1);
  font-size: 18px;
  font-weight: 500;
}
