#recipes-index-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#recipes {
  background-color: rgb(255, 255, 255, 0.7);
  width: 500px;
  box-shadow: var(--box-shadow-1);
  border-radius: 5px;
  padding: 10px;
  max-height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(3px);
}

