<div class="test">
  <a href="/public_recipes"><span>Public<br>Recipes</span><span class="test2"><%= image_tag asset_path('cooking-pot.png') %></span></a>
  <a href="/"><span>Example 2</span><span class="test2"><%= image_tag asset_path('recipe-book.png') %></span></a>
  <a href="/"><span>Example 3</span><span class="test2"><%= image_tag asset_path('recipe.png') %></span></a>
</div>
