<div class="test">
  <a href="/"><span>Example 1</span><span class="test2">A</span></a>
  <a href="/"><span>Example 2</span><span class="test2">B</span></a>
  <a href="/"><span>Example 3</span><span class="test2">C</span></a>
  <a href="/"><span>Example 4</span><span class="test2">D</span></a>
  <a href="/"><span>Example 5</span><span class="test2">E</span></a>
</div>